body{
    display: flex;
    color: white;
    background-color: rgb(26, 26, 26);
}

h1{
    font-size: 25px;
}

h2{
    font-weight: 400;
    font-size: 15px;
}

#left{
	width: 30%;
    height: 100vh;
    max-height: 100%;
	background-color: #721754;

	display: flex;
    flex-direction: column;
	/* justify-content: center; */
    padding: 50px 0px;
    gap: 15px; 
	/* align-items: center; */

    border-radius: 0% 5% 5% 0%;
}

#left > div{
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    gap: 15px;  
    padding: 0px 40px;  
}

#info{
    display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center; 

}

#info #me-foto{
    width: 120px;
	height: 120px;
    border-radius: 50%;
    justify-content: center;
}

#right{
    width: 70%;
    background-color: rgb(26, 26, 26);
}

.linha-h{
    width: 100%;
    height: 1px;
    background-color: white;
}

#contacts{
    display: flex;
    flex-direction: column;
    text-align: left;

}